<!DOCTYPE html>
<html>

<head>
  <title>บริษัท บุพทักษิณ เจมส์ จำกัด</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="css/w3.css">
  <link rel="stylesheet" href="css/w3Custom.css"> -->
  <link rel="stylesheet" href="/css/w3combined.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css" >
  <link rel="stylesheet" href="/fonts/fontawesome-free-6.5.2-web/css/all.min.css">
  <script src="/js/jquery-3.7.1.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script> <!-- จำเป็นสำหรับ modal popup -->
  <script src="/script/utilityScript.js"></script>
  <link rel="stylesheet" href="/css/popupModalStyle.css">
