<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <style>
        /* เพิ่ม CSS ในไฟล์เดียวกับ HTML สำหรับความสะดวก */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
            display: flex;
            /* เพิ่ม display: flex; */
            justify-content: center;
            /* เพิ่ม justify-content: center; */
            align-items: center;
            /* เพิ่ม align-items: center; */
            min-height: 100vh;
            /* กำหนดความสูงขั้นต่ำเท่ากับ viewport */
        }

        .container {
            max-width: 400px;
            margin: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
        }

        input[type="text"],
        input[type="password"],
        button {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button {
            background-color: #4caf50;
            color: white;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }

        p {
            text-align: center;
        }

        p a {
            text-decoration: none;
            color: #007bff;
        }

        p a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="w3-display-container">
        <h1>Login</h1>
        <form action="/login" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="admin">

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="admin">

            <button type="submit">Login</button>
        </form>

        <p>
            <!-- <a href="/register">REGISTER</a> -->
        </p>
    </div>
</body>

</html>