<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center d-flex flex-column align-items-stretch" style="width: 10%;">
    <div class="w3-dropdown-hover">
        <a href="/home" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa-solid fa-house w3-xlarge"></i><br>
            <b>บุพทักษิณ</b>
        </a>
    </div>
    
    <div class="w3-dropdown-hover">
        <a href="/manageCustomer" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa-solid fa-cubes w3-xlarge"></i><br>
            <b>ลูกค้า</b>
        </a>
    </div>
    
    <div class="w3-dropdown-hover">
        <a href="/manageSale" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa-solid fa-keyboard w3-xlarge"></i><br>
            <b>ขาย</b>
        </a>
        <a href="/reportSaleEntry" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa-solid fa-th-list w3-xlarge"></i><br>
            <b>รายการสินค้า</b>
        </a>
    </div>

    <div class="w3-dropdown-hover">
        <a href="/manageStock" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa-solid fa-cubes w3-xlarge"></i><br>
            <b>สต๊อกสินค้า</b>
        </a>
    </div>
    
    <div class="w3-dropdown-hover">
        <a href="/manageBatch" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa-solid fa-cubes w3-xlarge"></i><br>
            <b>ชุด</b>
        </a>
    </div>

    <div class="w3-dropdown-hover">
        <a class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-chevron-circle-down w3-xlarge"></i><br>
            <b>จัดการสินค้า</b>
        </a>
        <div class="w3-dropdown-content">
            <a href="/manageProduct" class="w3-bar-item w3-button w3-hover-black">
                <i class="fa-solid fa-folder-open w3-xlarge"></i><br>
                <b>สินค้า</b>
            </a>
            <a href="/manageCost" class="w3-bar-item w3-button w3-hover-black">
                <i class="fa-solid fa-folder-open w3-xlarge"></i><br>
                <b>ต้นทุน</b>
            </a>
            <a href="/manageType" class="w3-bar-item w3-button w3-hover-black">
                <i class="fa-solid fa-folder-open w3-xlarge"></i><br>
                <b>ประเภท</b>
            </a>
            <a href="/manageSize" class="w3-bar-item w3-button w3-hover-black">
                <i class="fa-solid fa-folder-open w3-xlarge"></i><br>
                <b>ไซส์</b>
            </a>
            <a href="/manageGrade" class="w3-bar-item w3-button w3-hover-black">
                <i class="fa-solid fa-folder-open w3-xlarge"></i><br>
                <b>เกรด</b>
            </a>
            <a href="/manageSharp" class="w3-bar-item w3-button w3-hover-black">
                <i class="fa-solid fa-folder-open w3-xlarge"></i><br>
                <b>รูปร่าง</b>
            </a>
        </div>
    </div>
    <form action="/logout" method="post" class="mt-auto">
        <button type="submit" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa-solid fa-power-off w3-xxlarge"></i><br>
            <b>ออกจากระบบ</b>
        </button>
    </form>
</nav>
